<div class="main-content-agile">
    <div class="sub-main-w3">
        <div align="center" style="padding-bottom:3px;margin-top:-28px;"><img src="assets/img/login_logo.png"><h2 align="center">Login
                here</h2>
        </div>

        <!-- <form  method="post"> -->
        <form name="loginform">
            <div class="username">
                <div class="pom-agile">
                    <span class="fa fa-user-o" aria-hidden="true" style="padding-right:6px;margin-bottom: -24px;"></span>
                    <label class="control-label"><span class="required" style="color:red;"></span></label>
                    <input placeholder="E-mail" class="user" type="email" name="Emailtxt" class="form-control col-md-7 col-xs-12" ng-model="login.emailId"
                        overwrite-email required>
                </div>
                <span ng-show="loginform.Emailtxt.$touched && loginform.Emailtxt.$error.email" class="text-danger">Invalid
                    Email!</span>
                <span ng-show="loginform.Emailtxt.$touched && loginform.Emailtxt.$error.required" class="text-danger">Email
                    is required</span>
            </div>

            <div class="password">
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true" style="padding-right:6px;margin-bottom: -20px;"></span>
                    <input placeholder="Password" type="Password" name="password" ng-model="login.password" minlength="3" maxlength="8" required>
                </div>
                <span ng-show="loginform.password.$touched && loginform.password.$error.required" class="text-danger">Password
                    is required</span>
                <span ng-show="loginform.password.$error.minlength || loginform.password.$error.maxlength" class="text-danger">Password
                    length should be 8</span>

            </div>

            <div class="right-w3l">
                <button type="submit" class="btn btn-block" ng-disabled="loginform.$invalid" ng-click="logincall(login)">Log
                    in</button>
            </div>
        </form>
        <!-- </form> -->
    </div>
</div>



<style>
    body {
        background: url('assets/img/kumar.jpg');
    }
</style>